<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> CMS </title>

    <link rel="stylesheet" href="/css/blogs.css">
</head>
<body>
    <!-- Navigation Bar -->

    <%-include("components/navbar.ejs")  %>

    <!-- Card Section -->
         <div class="card-container">
            <% blogs.forEach((blog)=>{  %>
            <div class="card">
                <h2><%- blog.title %></h2>
                <h3><%- blog.subTitle %></h3>
                <p><%- blog.description %></p>
                <a href="/single/<%- blog.id %>">Read More</a>
            </div>    
      <%  })  %>
       
    </div>
</body>
</html>
