<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
   
    <link rel="stylesheet" href="/css/editBlog.css">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <h1 style="color: #fdfbfb;">Edit Blog</h1>
        <a href="/">Home</a>

    </div>

    <!-- Form Section -->
    <div class="form-container">
        <form class="form" action="/editBlog/<%- blog[0].id %>" method="post" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" id="title" value="<%- blog[0].title %>" name="title" required />

            <label for="subtitle">Subtitle:</label>
            <input type="text" id="subtitle" value="<%- blog[0].subTitle%>" name="subtitle" required />

            <label for="description">Description:</label>
            <textarea id="text" name="description" rows="4" required> <%- blog[0].description %> </textarea>

            <label for="image">image:</label>
            <input type="file" id="image" name="image"  /> <br> <br>

            <button type="submit">Submit</button>
            <button type="submit><a href="/single/<%- blog[0].id %>">Cancel</a></button>
        </form>
    </div>
    <%-include("components/footer.ejs")  %>
</body>
</html>
