<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Post</title>
    <link rel="stylesheet" href="/css/singleBlog.css">
    <style>
        footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 250px;
}
    </style>
</head>
<body>
    <header class="nth">
        <h1>CMS</h1>
        <a href="/" style="text-decoration: none; color: rgb(251, 253, 255);">Home</a>
    </header>

    <!-- if we have to reuse the components then use include("components/header") -->
 
    <div class="container">
        <div class="author-info">
            <div class="author-name"><%- blog[0].title  %></div>
        </div>
        <div class="author-name"><%- blog[0].subTitle  %> </div>

        <div class="post-content">
            <p><%- blog[0].description  %></p>
        </div>

        <div class="post-footer">
            Published on <%- blog[0].createdAt.toISOString().slice(0,10) %>
        </div>
        <button><a href="/delete/<%-blog[0].id %>">Delete</a></button>
        <button><a href="/edit/<%-blog[0].id %>">Edit</a></button>
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 CMS. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>